*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
}

#websiteBar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, darkblue, mediumblue);
    padding: 0 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 10px;
}

.navbar-nav li{
    padding: 0 10px;

}

.navbar-nav li a{
    color: white !important;
    font-weight: normal;

}

#highlightText{
    color: deepskyblue !important;
}

.navbar-toggler{
    outline: none !important;
}

.header-title{
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 35px;
}


/*--------------DROPDOWN MENU--------*/

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a[href="partCrazy88.html"]{
    color: darkblue !important;
}

.dropdown-menu a[href="partChallenge.html"]{
    color: darkblue !important;
}
.dropdown-menu a[href="partPuzzle.html"]{
    color: darkblue !important;
}

.title{
text-align: center;
padding-top: 50px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;

}

#container\ mt-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

/*-------------FOOTER PART-----------------*/

#footer{
    background-image: linear-gradient(to right, darkblue, mediumblue);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;


}

.logoutbutton2 {
    background-color: darkblue;
    border-color: white;
    border-radius: 15px;
    float: right;


}
.logoutbutton2 a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
