/*everything*/
*{
    margin: 0;
    padding: 0;
}
/*Header*/
#websiteBar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, darkblue, mediumblue);
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 10px;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    color: white !important;
    font-weight: normal;

}
#highlightText{
    color: deepskyblue !important;
}
.navbar-toggler{
    outline: none !important;
}
.header-title{
    color: white;
}
/*--------------DROPDOWN MENU--------*/
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu a[href="adminCrazy.html"]{
    color: darkblue !important;
}
.dropdown-menu a[href="adminChallenge.html"]{
    color: darkblue !important;
}
.dropdown-menu a[href="adminPuzzle.html"]{
    color: darkblue !important;
}

/*DROPDOWN MENU SUBMISSION*/
.dropdown-menu a[href="ungradedSubmissions.html"]{
    color: darkblue !important;
}
.dropdown-menu a[href="gradedSubmissions.html"]{
    color: darkblue !important;
}


/*Header*/
/*---------------------BANNER PART----------*/
body{
    font-family: 'Dosis', sans-serif;
}
#banner{
    z-index: 1;
    position: relative;
    margin-bottom: 100px;
}
.title-promo{
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}


/*-------------FOOTER PART-----------------*/
#footer{
    background-image: linear-gradient(to right, darkblue, mediumblue);
}
.logoutbutton2 {
    background-color: darkblue;
    border-color: white;
    border-radius: 15px;
    float: right;
}
.logoutbutton2 a{
    color: white;
    text-decoration: none;
    padding: 10px;
}


